USE [master]
GO
/****** Object:  Database [Translate]    Script Date: 2/19/2020 2:24:17 AM ******/
CREATE DATABASE [Translate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Translate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Translate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Translate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Translate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Translate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Translate]
GO
/****** Object:  Table [dbo].[TBL_HISTORIC]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HISTORIC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_WORD] [int] NOT NULL,
	[ID_USER] [nvarchar](50) NOT NULL,
	[DATE_NOW] [datetime] NOT NULL,
	[DAY] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_HISTORIC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LANGUAGE]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LANGUAGE](
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_WORD]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_WORD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORIGIN_WORD] [nvarchar](50) NOT NULL,
	[ORIGIN_LANG] [nvarchar](50) NOT NULL,
	[DEST_WORD] [nvarchar](50) NOT NULL,
	[DEST_LANG] [nvarchar](50) NOT NULL,
	[POPULARITY] [int] NULL,
 CONSTRAINT [PK_TBL_WORD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_HISTORIC]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HISTORIC_TBL_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([NAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_HISTORIC] CHECK CONSTRAINT [FK_TBL_HISTORIC_TBL_USER]
GO
ALTER TABLE [dbo].[TBL_HISTORIC]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HISTORIC_TBL_WORD] FOREIGN KEY([ID_WORD])
REFERENCES [dbo].[TBL_WORD] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_HISTORIC] CHECK CONSTRAINT [FK_TBL_HISTORIC_TBL_WORD]
GO
ALTER TABLE [dbo].[TBL_WORD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_WORD_TBL_LANGUAGE] FOREIGN KEY([ORIGIN_LANG])
REFERENCES [dbo].[TBL_LANGUAGE] ([NAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBL_WORD] CHECK CONSTRAINT [FK_TBL_WORD_TBL_LANGUAGE]
GO
ALTER TABLE [dbo].[TBL_WORD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_WORD_TBL_LANGUAGE1] FOREIGN KEY([DEST_LANG])
REFERENCES [dbo].[TBL_LANGUAGE] ([NAME])
GO
ALTER TABLE [dbo].[TBL_WORD] CHECK CONSTRAINT [FK_TBL_WORD_TBL_LANGUAGE1]
GO
/****** Object:  StoredProcedure [dbo].[CRE_HISTORIC_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  HISTORIC
CREATE PROCEDURE [dbo].[CRE_HISTORIC_PR]
	@P_ID_WORD INT,
    @P_ID_USER NVARCHAR(50),
    @P_DATE_NOW DATETIME,
    @P_DAY NVARCHAR(50)
AS
	INSERT INTO [dbo].[TBL_HISTORIC] (ID_WORD,ID_USER,DATE_NOW,DAY) 
	VALUES(@P_ID_WORD,@P_ID_USER,@P_DATE_NOW,@P_DAY);
GO
/****** Object:  StoredProcedure [dbo].[CRE_LANGUAGE_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  LANGUAGE
CREATE PROCEDURE [dbo].[CRE_LANGUAGE_PR]
	@P_Name NVARCHAR(50)
AS
	INSERT INTO [dbo].[TBL_LANGUAGE] (NAME) 
	VALUES(@P_Name);
GO
/****** Object:  StoredProcedure [dbo].[CRE_USER_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  USER
CREATE PROCEDURE [dbo].[CRE_USER_PR]
	@P_Name NVARCHAR(50)
AS
	INSERT INTO [dbo].[TBL_USER] (NAME) 
	VALUES(@P_Name);
GO
/****** Object:  StoredProcedure [dbo].[CRE_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  WORD
CREATE PROCEDURE [dbo].[CRE_WORD_PR]
	@P_Origin_Word NVARCHAR(50),
    @P_Origin_Lang NVARCHAR(50),
    @P_Dest_Word NVARCHAR(50),
    @P_Dest_Lang NVARCHAR(50),
    @P_Popularity INT
AS
	INSERT INTO [dbo].[TBL_WORD] (ORIGIN_WORD,ORIGIN_LANG,DEST_WORD,DEST_LANG,POPULARITY) 
	VALUES(@P_Origin_Word,@P_Origin_Lang,@P_Dest_Word,@P_Dest_Lang,@P_Popularity);
GO
/****** Object:  StoredProcedure [dbo].[DEL_HISTORIC_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_HISTORIC_PR]
	@P_ID_WORD INT,
    @P_ID_USER NVARCHAR(50),
    @P_DATE_NOW DATETIME,
    @P_DAY NVARCHAR(50)
AS
	DELETE FROM TBL_HISTORIC
	wHERE ID_WORD = @P_ID_WORD AND 
    ID_USER = @P_ID_USER AND 
    DATE_NOW = @P_DATE_NOW AND
    DAY = @P_DAY;
GO
/****** Object:  StoredProcedure [dbo].[DEL_LANGUAGE_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_LANGUAGE_PR]
	@P_Name NVARCHAR(50)
AS
	DELETE FROM TBL_LANGUAGE
	WHERE NAME = @P_Name;
GO
/****** Object:  StoredProcedure [dbo].[DEL_USER_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_USER_PR]
	@P_Name NVARCHAR(50)
AS
	DELETE FROM TBL_USER
	WHERE NAME = @P_Name;
GO
/****** Object:  StoredProcedure [dbo].[DEL_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DELETE CUSTOMER
CREATE PROCEDURE [dbo].[DEL_WORD_PR]
	@P_Origin_Word NVARCHAR(50),
    @P_Origin_Lang NVARCHAR(50),
    @P_Dest_Lang NVARCHAR(50)
AS
	DELETE FROM TBL_WORD
	WHERE ORIGIN_WORD = @P_Origin_Word AND
    ORIGIN_LANG = @P_Origin_Lang AND
    DEST_LANG = @P_Dest_Lang;
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_HISTORIC_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL CUSTOMER
CREATE PROCEDURE [dbo].[RET_ALL_HISTORIC_PR]
AS
	SELECT h.*, w.ORIGIN_WORD, w.ORIGIN_LANG, w.DEST_WORD, w.DEST_LANG, w.POPULARITY
	FROM TBL_HISTORIC as h
    INNER JOIN TBL_WORD as w ON h.ID_WORD = w.ID;
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_LANGUAGE_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL CUSTOMER
CREATE PROCEDURE [dbo].[RET_ALL_LANGUAGE_PR]
AS
	SELECT * FROM TBL_LANGUAGE;
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_USER_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL CUSTOMER
CREATE PROCEDURE [dbo].[RET_ALL_USER_PR]
AS
	SELECT * FROM TBL_USER;
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_WORD_PR]
AS
	SELECT * FROM TBL_WORD
GO
/****** Object:  StoredProcedure [dbo].[RET_DICTIONARY_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[RET_DICTIONARY_PR]
	@P_Dest_Lang NVARCHAR(50)
AS
	SELECT * FROM TBL_WORD
	WHERE DEST_LANG = @P_Dest_Lang;
GO
/****** Object:  StoredProcedure [dbo].[RET_HISTORIC_OF_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_HISTORIC_OF_WORD_PR]
	@P_ORIGIN_WORD NVARCHAR(50)
AS
SELECT h.*,  w.ORIGIN_WORD, w.ORIGIN_LANG, w.DEST_WORD, w.DEST_LANG, w.POPULARITY
  FROM [Translate].[dbo].[TBL_HISTORIC] as h
  INNER JOIN TBL_WORD as w ON h.ID_WORD = w.ID
  WHERE w.ORIGIN_WORD = @P_ORIGIN_WORD
GO
/****** Object:  StoredProcedure [dbo].[RET_HISTORIC_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_HISTORIC_PR]
	@P_ID_WORD INT,
    @P_ID_USER NVARCHAR(50),
    @P_DATE_NOW DATETIME,
    @P_DAY NVARCHAR(50)
AS
	SELECT * FROM TBL_HISTORIC as h
    INNER JOIN TBL_WORD as w ON h.ID_WORD = w.ID
    wHERE ID_WORD = @P_ID_WORD AND 
    ID_USER = @P_ID_USER AND 
    DATE_NOW = @P_DATE_NOW AND
    DAY = @P_DAY;
GO
/****** Object:  StoredProcedure [dbo].[RET_LANGUAGE_OF_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[RET_LANGUAGE_OF_WORD_PR]
	@P_Origin_Word NVARCHAR(50)
AS
	SELECT DEST_LANG as NAME FROM TBL_WORD
	WHERE ORIGIN_WORD = @P_Origin_Word;
GO
/****** Object:  StoredProcedure [dbo].[RET_LANGUAGE_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_LANGUAGE_PR]
	@P_Name NVARCHAR(50)
AS
	SELECT * FROM TBL_LANGUAGE
	WHERE NAME = @P_Name;
GO
/****** Object:  StoredProcedure [dbo].[RET_POPULAR_LANGUAGE_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
--UPDATE CUSTOMER
CREATE PROCEDURE [dbo].[RET_POPULAR_LANGUAGE_PR]
AS
SELECT TOP (1) DEST_LANG AS NAME
  FROM [Translate].[dbo].[TBL_WORD]
  GROUP BY DEST_LANG 
  ORDER BY COUNT(POPULARITY) DESC
GO
/****** Object:  StoredProcedure [dbo].[RET_POPULAR_WORD_OF_WEEK_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE CUSTOMER
CREATE PROCEDURE [dbo].[RET_POPULAR_WORD_OF_WEEK_PR]
	@P_DAY NVARCHAR(50)
AS
SELECT TOP (10)  w.*
  FROM [Translate].[dbo].[TBL_HISTORIC] as h
  INNER JOIN TBL_WORD as w ON h.ID_WORD = w.ID
  WHERE h.DAY = @P_DAY 
  Order By w.POPULARITY DESC
GO
/****** Object:  StoredProcedure [dbo].[RET_POPULAR_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_POPULAR_WORD_PR]
AS
  SELECT TOP (100) [ID]
      ,[ORIGIN_WORD]
      ,[ORIGIN_LANG]
      ,[DEST_WORD]
      ,[DEST_LANG]
      ,[POPULARITY]
  FROM [Translate].[dbo].[TBL_WORD]
  ORDER BY POPULARITY DESC
GO
/****** Object:  StoredProcedure [dbo].[RET_USER_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RET CUSTOMER BY ID
CREATE PROCEDURE [dbo].[RET_USER_PR]
	@P_Name NVARCHAR(50)
AS
	SELECT * FROM TBL_USER
	WHERE NAME = @P_Name;
GO
/****** Object:  StoredProcedure [dbo].[RET_USER_WITH_MORE_TRANSLATIONS_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_USER_WITH_MORE_TRANSLATIONS_PR]
AS
SELECT TOP (1) ID_USER AS NAME
  FROM [Translate].[dbo].[TBL_HISTORIC]
  GROUP BY ID_USER
  ORDER BY COUNT(ID_USER) desc
GO
/****** Object:  StoredProcedure [dbo].[RET_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_WORD_PR]
	@P_Origin_Word NVARCHAR(50),
    @P_Origin_Lang NVARCHAR(50),
    @P_Dest_Lang NVARCHAR(50)
AS
	SELECT * FROM TBL_WORD
	WHERE ORIGIN_WORD = @P_Origin_Word AND
    ORIGIN_LANG = @P_Origin_Lang AND
    DEST_LANG = @P_Dest_Lang;
GO
/****** Object:  StoredProcedure [dbo].[UPD_HISTORIC_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_HISTORIC_PR]
    @P_ID INT,
    @P_ID_WORD INT,
    @P_ID_USER NVARCHAR(50),
    @P_DATE_NOW DATETIME,
    @P_DAY NVARCHAR(50)
AS
	UPDATE [dbo].[TBL_HISTORIC] SET ID_WORD = @P_ID_WORD, ID_USER = @P_ID_USER, DATE_NOW = @P_DATE_NOW, DAY = @P_DAY
	WHERE ID = @P_ID;
GO
/****** Object:  StoredProcedure [dbo].[UPD_LANGUAGE_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_LANGUAGE_PR]
	@P_Name NVARCHAR(50)
AS
	UPDATE [dbo].[TBL_LANGUAGE] SET NAME=@P_Name
	WHERE NAME = @P_Name;
GO
/****** Object:  StoredProcedure [dbo].[UPD_USER_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE CUSTOMER
CREATE PROCEDURE [dbo].[UPD_USER_PR]
	@P_Name NVARCHAR(50)
AS
	UPDATE [dbo].[TBL_USER] SET NAME=@P_Name
	WHERE NAME = @P_Name;
GO
/****** Object:  StoredProcedure [dbo].[UPD_WORD_PR]    Script Date: 2/19/2020 2:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE CUSTOMER
CREATE PROCEDURE [dbo].[UPD_WORD_PR]
	@P_ID INT,
    @P_POPULARITY INT
AS
	UPDATE [dbo].[TBL_WORD] SET POPULARITY = @P_POPULARITY
	WHERE ID = @P_ID;
GO
USE [master]
GO
